<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="ApiRest3PU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>com.psc.Entity.Segmentoventa</class>
    <class>com.psc.Entity.Logs</class>
    <class>com.psc.Entity.Provincias</class>
    <class>com.psc.Entity.Tipoventa</class>
    <class>com.psc.Entity.Tipotv</class>
    <class>com.psc.Entity.Lineasasociadas</class>
    <class>com.psc.Entity.Municipios</class>
    <class>com.psc.Entity.Tomador</class>
    <class>com.psc.Entity.Rol</class>
    <class>com.psc.Entity.Tipotvmovil</class>
    <class>com.psc.Entity.Campanyas</class>
    <class>com.psc.Entity.Asegurados</class>
    <class>com.psc.Entity.Tipofutbool</class>
    <class>com.psc.Entity.Usuarios</class>
    <class>com.psc.Entity.Nomencladores</class>
    <class>com.psc.Entity.Tipolineamovil</class>
    <class>com.psc.Entity.Ventas</class>
    <class>com.psc.Entity.Tipolineafija</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/zeus_db?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="atenea"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="12qwaszx"/>
    </properties>
  </persistence-unit>
</persistence>
